/* background: linear-gradient(to right, rgb(18, 194, 233), rgb(196, 113, 237), rgb(246, 79, 89)) */

.star {
  pointer-events: none;
  position: absolute;
}

.star:nth-child(1) {
  top: 30%;
  left: 10%;
  font-size: 27px;
  animation: 20s across infinite;
  animation-delay: 2s;
}
.star:nth-child(2) {
  top: 20%;
  left: 20%;
  font-size: 22px;
  animation: 30s up infinite;
}
.star:nth-child(3) {
  top: 30%;
  left: 30%;
  font-size: 14px;
  animation: 20s up infinite;
}
.star:nth-child(4) {
  top: 40%;
  left: 10%;
  font-size: 28px;
  animation: 39s up infinite;
}
.star:nth-child(5) {
  top: 55%;
  left: 20%;
  font-size: 11px;
  animation: 37s across infinite;
}
.star:nth-child(6) {
  top: 90%;
  left: 60%;
  font-size: 11px;
  animation: 40s across infinite;
}
.star:nth-child(7) {
  top: 70%;
  left: 70%;
  font-size: 20px;
  animation: 36s up infinite;
}
.star:nth-child(8) {
  top: 80%;
  left: 80%;
  font-size: 23px;
  animation: 26s up infinite;
}
.star:nth-child(9) {
  top: 31%;
  left: 40%;
  font-size: 16px;
  animation: 33s across infinite;
}
.star:nth-child(10) {
  top: 90%;
  left: 25%;
  font-size: 20px;
  animation: 29s across infinite;
}
.star:nth-child(11) {
  top: 90%;
  left: 90%;
  font-size: 19px;
  animation: 28s up infinite;
}
.star:nth-child(12) {
  top: 80%;
  left: 20%;
  font-size: 25px;
  animation: 28s across infinite;
}
.star:nth-child(13) {
  top: 10%;
  left: 30%;
  font-size: 19px;
  animation: 21s across infinite;
}
.star:nth-child(14) {
  top: 55%;
  left: 85%;
  font-size: 25px;
  animation: 32s up infinite;
}
.star:nth-child(15) {
  top: 20%;
  left: 50%;
  font-size: 21px;
  animation: 34s up infinite;
}
.star:nth-child(16) {
  top: 60%;
  left: 30%;
  font-size: 24px;
  animation: 32s up infinite;
}
.star:nth-child(17) {
  top: 60%;
  left: 40%;
  font-size: 19px;
  animation: 22s across infinite;
}
.star:nth-child(18) {
  top: 80%;
  left: 30%;
  font-size: 12px;
  animation: 31s up infinite;
}
.star:nth-child(19) {
  top: 25%;
  left: 65%;
  font-size: 18px;
  animation: 26s across infinite;
}
.star:nth-child(20) {
  top: 20%;
  left: 70%;
  font-size: 12px;
  animation: 36s across infinite;
}
.star:nth-child(21) {
  top: 75%;
  left: 50%;
  font-size: 25px;
  animation: 30s across infinite;
}
.star:nth-child(22) {
  top: 80%;
  left: 70%;
  font-size: 17px;
  animation: 35s across infinite;
}
.star:nth-child(23) {
  top: 90%;
  left: 50%;
  font-size: 20px;
  animation: 34s up infinite;
}
.star:nth-child(24) {
  top: 10%;
  left: 90%;
  font-size: 25px;
  animation: 28s across infinite;
}
.star:nth-child(25) {
  top: 25%;
  left: 90%;
  font-size: 29px;
  animation: 26s across infinite;
}

h2.fadeIn {
  color: white;
  margin: 6px 0px;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  background: #000;
  color: white;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: center;
  align-items: flex-end;
  width: 80%;
  flex-wrap: wrap;
  width: 80%;
}

.whatever {
  position: relative !important;
  display: flex !important;
  flex-direction: row !important;
  align-content: center !important;
  justify-content: center !important;
  align-items: center !important;
}

.buttons {
  box-shadow: 3px 3px white !important;
  border: 3px solid white !important;
  background-color: black !important;
  color: #fff !important;
  margin-bottom: 0px !important;
}

.button {
  margin-top: 30px;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-8-16 12:4:48
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotateScaleUp
 * ----------------------------------------
 */
@-webkit-keyframes rotateScaleUp {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(1.5) rotateZ(180deg);
    transform: scale(1.5) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}
@keyframes rotateScaleUp {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(1.5) rotateZ(180deg);
    transform: scale(1.5) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}

@keyframes across {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-250px);
  }
}

@keyframes up {
  0%,
  100% {
    transform: translateX(0);
    transform: rotate(0deg);
  }
  50% {
    transform: translateY(-200px);
  }
}

/*
 * ----------------------------------------
 * animation fadeIn
 * ----------------------------------------
 */

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*
 * ----------------------------------------
 * animation rotateCenter
 * ----------------------------------------
 */
@-webkit-keyframes rotateCenter {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotateCenter {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 900px) {
  .wrapper {
    flex-direction: column !important;
  }
  .content,
  .boxWrapper01,
  .boxWrapper02 {
    width: 100% !important;
  }
  .container {
    height: 600px !important;
  }
  .content {
    align-items: center !important;
  }
}
