.card {
  border: 3px solid black;
  padding: 15px 30px;
  color: black;
  background-color: white;
  border-radius: 50px;
  font-weight: bolder;
  box-shadow: 3px 3px black;
  font-family: 'Asul';
  font-size: 22px;
  text-transform: none;
  margin: 30px 0px;
  width: 45%;
}
