@import url('https://fonts.googleapis.com/css2?family=Alike+Angular&family=Asul&family=Concert+One&family=Corben:wght@400;700&family=Eczar&family=Fruktur&family=Kavoon&family=Neuton&family=Space+Mono&family=Tillana&family=Work+Sans&display=swap');

/* Key:
font-family: 'Alike Angular', serif;
font-family: 'Asul', sans-serif;
font-family: 'Concert One', cursive;
font-family: 'Corben', cursive;
font-family: 'Eczar', serif;
font-family: 'Fruktur', cursive;
font-family: 'Kavoon', cursive;
font-family: 'Neuton', serif;
font-family: 'Space Mono', monospace;
font-family: 'Tillana', cursive;
font-family: 'Work Sans', sans-serif; */

* {
  box-sizing: border-box;
  font-size: 16px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Space Mono, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1;
  color: #373b45;
  overscroll-behavior-y: none;
  background-color: ghostwhite;
  /* background: linear-gradient(to right, rgb(18, 194, 233), rgb(196, 113, 237), rgb(246, 79, 89)) */
}

a,
a:-webkit-any-link,
a:hover {
  text-decoration: none;
  cursor: pointer;
  color: #373b45;
  /* padding-right: 2rem; */
}

/* p,
a {
  padding-right: 2rem;
} */

h1,
h2,
h3,
h4,
h5 {
  color: #373b45;
}

/* GOLDEN RATIO: h1 was too large, so I scaled down to h3 as h1. 

h1 {
  margin-top: 0;
  font-size: 11.089rem;
}

h2 {
  font-size: 6.854rem;
}

h3 {
  font-size: 4.236rem;
}

h4 {
  font-size: 2.618rem;
}

h5 {
  font-size: 1.618rem;
} 

END GOLDEN RATIO
*/

h1 {
  font-size: 4.236rem;
  line-height: 1;
}

h2 {
  font-size: 2.618rem;
}

h3 {
  font-size: 1.618rem;
}

a,
p {
  font-size: 1rem;
  line-height: 1.5;
}

small,
.text_small {
  font-size: 0.618rem;
}

.textExtraSmall {
  font-size: 0.382rem;
}

.font-serif {
  font-family: 'Asul', sans-serif;
}

.font-sans {
  font-family: 'Space Mono', monospace;
}

.buttons {
  display: flex !important;
  flex-direction: row !important;
  width: fit-content !important;
  align-items: center !important;
  border: 3px solid black !important;
  padding: 15px 30px !important;
  color: black !important;
  background-color: #61ccfe !important;
  border-radius: 50px !important;
  font-weight: bolder !important;
  box-shadow: 3px 3px black !important;
  font-family: 'Asul' !important;
  font-size: 22px !important;
  text-transform: none !important;
  text-decoration: none !important;
  margin: 30px 0px !important;
  text-transform: capitalize !important;
}

.buttons:hover {
  background-color: #ff326c !important;
}
