.date {
  padding: 15px;
}

.imageWrapper {
}

.buttons {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
}

.buttonBlack {
  border: 3px solid black;
  padding: 15px 30px;
  color: black;
  background-color: ghostwhite;
  border-radius: 50px;
  font-weight: bolder;
  box-shadow: 3px 3px black;
  font-family: 'Asul';
  font-size: 22px;
  text-transform: none;
  margin: 30px 0px;
}

.hero {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-top: 30px;
  padding-bottom: 60px;
}

.heroBox01 {
  width: 30vw;
}

.heroBox02 {
  width: 70vw;
  margin-right: -112px;
}

span.nobreak {
  display: block;
}
