.hero {
  display: flex;
  flex-direction: row;
  padding: 146px 0px 60px 0px;
}

.heroBox01,
.heroBox02 {
  width: 50%;
}

.heroBox01 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  padding-right: 120px;
}

.heroBox02 {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}

span.nobreak {
  display: block;
}

p.pmargin {
  margin-top: 0px;
  margin-bottom: 0px;
}
