.nav {
  display: flex;
  height: 100px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: flex-end;
  /* border-bottom: 3px solid black; */
  /* font-size: 1.618rem; */

}

.navItems {
  padding-right: 30px;
  font-weight: 700;
  letter-spacing: 1px;
}

:hover.navItems {
text-decoration: underline;
}