.navOuter {
  height: 140px;
  width: 100vw;
  background-color: #d3d3d3;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  position: fixed;

}

.navInner {
    width: 776px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
 
}

.eyesFollow {
    display: flex;
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
    /* width: 100vw;
    height: 50vh; */
}
.eyes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}
.eye {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background: #f3efef;

}


.pupil {
    background: black;
    border-radius: 50%;
    position: absolute;
    width: 15px;
    height: 15px;
    left: 25px;
    top: 12px;
    border:2px solid grey;
}

.space {
    padding: 0 30px;
}

.logo {
    padding-left: 0px;
}