.wrapper {
    height: 60px;
    display: flex;
    background: black;
    align-content: center;
    flex-direction: row;
    align-items: center;
  }
  
  .typing {
    width: 38ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: small;
    color: white;
  }
  
  @keyframes typing {
    from {
      width: 0;
      opacity: 100%;
    }
    to {
   
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }